 @using Microsoft.AspNetCore.Http
@using Newtonsoft.Json
@inject IHttpContextAccessor HttpContextAccessor


@{
    var session = HttpContextAccessor.HttpContext!.Session;
    string jsoncart = session.GetString(BookShop.Controllers.CartController.CARTKEY)!;
    if (jsoncart != null)
    {
        var cart = JsonConvert.DeserializeObject<List<BookShop.Data.Model.Cart.CartItem>>(jsoncart);
        <a href="/cart" class="nav-item nav-link">Giỏ hàng(@cart!.Count)</a>

    }
    else
    {
        <a href="/cart" class="nav-item nav-link">Giỏ hàng(0)</a>
    }
}